Checks: >
  -*,
  bugprone-assignment-in-if-condition,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-exception-copy-constructor-throws,
  bugprone-integer-division,
  bugprone-optional-value-conversion,
  bugprone-return-const-ref-from-parameter,
  bugprone-string-constructor,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-include,
  bugprone-use-after-move,
  clang-diagnostic-pessimizing-move,
  clang-diagnostic-unused-variable,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-slicing,
  cppcoreguidelines-virtual-class-destructor,
  google-explicit-constructor,
  misc-const-correctness,
  modernize-avoid-bind,
  modernize-use-nodiscard,
  modernize-use-override,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: 'catch_amalgamated.*'
FormatStyle: none
